@charset "UTF-8";
/*Los @media se encuentran en la parte inferior*/
/*---------------FUENTES---------------*/
/*letra leyenda footer*/
@font-face {
  font-family: FOT;
  src: url(letraFot.ttf);
}

/*letra H1*/
@font-face {
  font-family: TIT;
  src: url(letraTit.otf);
}

/*-------------- VARIABLES--------------*/
/*--------------------------------------*/
body {
  text-align: center;
  background-image: url("imagenes/logoTransparente.jpg");
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*Estilo de el parrafo de la historia del palntel*/
  /*seccion plantel*/
  /*seccion calendario*/
  /* Estilo de html dedicado al contacto con el equipo */
  /*Estilos del footer*/
  /*Cuadro del index con el resultado del ultimo partido*/
  /* diseño de la galeria */
}

body .grid__Header {
  grid-area: header;
  background-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(black));
  background-image: linear-gradient(gray, black);
  top: 0%;
  border-left: solid 5px grey;
  border-right: solid 5px grey;
  border-top: solid 5px grey;
  border-style: outset;
  margin: 0;
  padding: 0;
}

body .grid__Header h1 {
  font-family: TIT;
  font-size: 100px;
  /*$tamañoLetra=100px*/
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  color: #f7f3f3;
}

body .grid__Header h1.titulo {
  font-size: 100px;
  /*$tamañoLetra=100px*/
  /*font-weight: bold;*/
}

body .grid__Header .subtitulo {
  font-family: 'Graduate', cursive;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.8em;
  -webkit-margin-after: 0.90em;
          margin-block-end: 0.90em;
  color: darkred;
}

body .grid__Header nav {
  color: darkred;
  /*darkred*/
}

body .grid__Header .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  display: inline-block;
  /*utilizo esta prop para tratar el menu como text y luego con el text aling center lo centro */
  text-align: center;
}

body .grid__Header .menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body .grid__Header .menu li {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .grid__Header .menu li a {
  color: white;
  text-align: center;
  padding: 5px 70px;
  text-decoration: none;
  border-radius: 15px 50px;
}

body .grid__Header .menu li a:hover {
  background-color: #636060;
}

body .grid__Header .menu h3.tabs {
  font-size: 1.17em;
  font-family: 'Graduate', cursive;
}

body .historia {
  background-color: white;
  color: black;
  width: 80%;
  height: auto;
  font-size: 200px -20;
  /*$tamañoLetra=100px*/
}

body p.historia {
  text-align: left;
}

body p.historia .imgHistoria {
  width: 500px;
  height: auto;
}

body .grid__Plantel {
  /*tabla de juigadores*/
}

body .grid__Plantel table.table.table-dark.table-striped {
  width: 70%;
}

body .grid__Calendario {
  /*Tablas del calendario*/
}

body .grid__Calendario .table-responsive {
  width: 50%;
  margin-left: 25%;
}

body .grid__Calendario th.infoCal.table-secondary {
  border-bottom-color: currentColor;
}

body .contactanos button.btn.btn-primary {
  background-color: #842029;
  border-color: #212529;
}

body .contactanos button.btn.btn-secondary {
  background-color: #212529;
  border-color: #842029;
}

body .contactanos label.form-label {
  font-size: 1.17em;
  font-weight: bold;
  font-family: 'Times New Roman';
}

body .grid__Footer {
  width: 100%;
  height: 81px;
  bottom: 0;
  left: 0;
  grid-area: footer;
  height: 20vh;
  border-bottom: solid 5px grey;
  border-left: solid 5px grey;
  border-right: solid 5px grey;
  border-top: solid 5px grey;
  border-style: outset;
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  color: white;
  font-family: FOT;
  /* estilo de la lista de iconos del footer*/
}

body .grid__Footer ul {
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

body .grid__Footer li {
  padding: 2.5px 5px;
  list-style: none;
}

body .grid__Footer li a {
  color: white;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  border-radius: 15px 50px;
}

body .grid__Footer li a .icon {
  width: 32px;
  height: 32px;
}

body .grid__Footer li a:hover {
  background-color: #636060;
}

body .grid__Footer .iconLufa {
  position: relative;
  margin-top: -70px;
}

body .grid__Footer .imgLufa {
  height: 70px;
  width: 120px;
}

body h2.footer {
  font-size: 1.5em;
  /* font-weight: bold;*/
  margin-top: 30px;
}

body span.copyright {
  font-family: 'Graduate', cursive;
  color: dimgray;
}

body section h3 {
  font-family: 'Graduate', cursive;
  font-weight: bold;
  color: darkred;
  /*darkred*/
}

body .grid__Fecha th {
  font-size: 40px;
  /*$tamañoLetra=100px*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #414040;
  color: whitesmoke;
}

body .grid__Fecha h4.dentroTabla {
  font-weight: bold;
  text-align: center;
}

body .grid__Fecha .ultimaFecha {
  background-color: black;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  background-color: black;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-spacing: 2px;
}

body .grid__Fecha h3.nombreSeccion {
  font-size: calc(1.3rem + .6vw);
}

body .grid__Galeria ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .grid__Galeria ul .img {
  margin: 20px;
}

body .grid__Galeria ul .img img {
  width: 100%;
  height: auto;
}

body .grid__Galeria ul .img :hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

body .grid__Galeria .carousel-item {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

body .grid__Galeria .carousel-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .grid__Galeria .carouselVid {
  width: 70%;
  height: auto;
}

/*---------------@media------------------------*/
/* @media para hacer responsive a un Celular*/
@media (min-width: 320px) and (max-width: 767px) {
  body .grid__Header h1.titulo {
    font-size: 38px;
  }
  .imgH1 {
    width: 20%;
    height: auto;
  }
  body .grid__Fecha .ultimaFecha {
    font-size: 20px;
  }
  body .grid__Footer {
    font-size: 80%;
    height: 200px;
  }
  body .grid__Footer ul {
    margin-right: 90px;
  }
  body .grid__Footer li a {
    padding: 10px 5px;
  }
  body .grid__Footer li a .icon {
    width: 25px;
    height: auto;
  }
  body .grid__Footer .imgLufa {
    height: auto;
    width: 100px;
  }
  body .grid__Footer .iconLufa {
    margin-top: -120px;
    margin-right: 10px;
  }
  body .grid__Header .subtitulo {
    font-size: 20px;
  }
  .imgPlantel {
    width: 100%;
    height: auto;
  }
  body p.historia .imgHistoria {
    width: 80%;
    height: auto;
    float: none;
  }
  .menu {
    font-size: 80%;
  }
  body .grid__Header .menu li {
    text-align: center;
    float: none;
  }
  body .grid__Calendario .table-responsive {
    width: auto;
    margin-left: auto;
  }
  ul.galeria {
    padding: 0px;
    width: 40%;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body .grid__Galeria ul .img {
    margin: 20PX;
    padding: 1px 2px;
  }
  body .grid__Galeria ul .img img {
    width: 200%;
    height: auto;
  }
  body .grid__Galeria .carouselVid {
    width: 95%;
    height: auto;
  }
}

/* @media para hacer responsive a un Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  body .grid__Header h1.titulo {
    font-size: 80px;
  }
  .imgH1 {
    width: 19%;
    height: auto;
  }
  .grid__Footer {
    font-size: 80%;
  }
  body .grid__Footer li a .icon {
    width: 25px;
    height: auto;
  }
  body .grid__Header .subtitulo {
    font-size: 25px;
  }
  .imgPlantel {
    width: 100%;
    height: auto;
  }
  body p.historia .imgHistoria {
    width: 80%;
    height: auto;
  }
  body .grid__Footer .imgLufa {
    height: auto;
    width: 100px;
  }
  .menu {
    font-size: 80%;
  }
  body .grid__Header .menu li a {
    padding: 5px 15px;
  }
  body .grid__Galeria ul .img a :hover {
    -webkit-transform: scale(2);
            transform: scale(2);
    /*escala de el zoom de las imagenes de la galeria*/
  }
}
/*# sourceMappingURL=style.css.map */